<!-- mx-2 mx-sm-5 -->

{%- macro footer() -%}
<!-- Footer -->

<footer>
  <section class="hero contact-hero" id="contact">
      <div class="hero-body">

          <div class="columns">

              <div class="column">
                  <p class="title-contact title"><img src="/assets/svg/mutant/symbols/sound/speech_bubble.svg" alt="Speech Bubble" class="emoji-32 emoji-bottom"> {{ trans(key="contact", lang=lang) | safe }}</p>
                  <p class="subtitle-contact subtitle">{{ trans(key="contact_inquiries", lang=lang) | safe }}</p>
              </div>

              <div class="column">
                  <p>
                      <ul>
                          <li><i class="fa-solid fa-envelope"></i>&nbsp;<a href="mailto:luna@kaz.bzh">luna[at]kaz.bzh</a></li>
                          <li><i class="fa-brands fa-mastodon"></i>&nbsp;<a href="https://todon.eu/@chasociale" target="_blank">Mastodon</a></li>
                          <!--<li><i class="fa-brands fa-telegram"></i>&nbsp;<a href="" target="_blank">Telegram</a></li>-->
                      </ul>
                  </p>
              </div>

          </div>

          <div class="columns">

              <div class="column">
                  <p class="title-contact title"><img src="/assets/svg/mutant/symbols/textual/music_note.svg" alt="Music Notes" class="emoji-32 emoji-bottom"> {{ trans(key="listen_music", lang=lang) | safe }}</p>
                  <p class="subtitle-contact subtitle">{{ trans(key="music_description", lang=lang) | safe }}</p>
              </div>

              <div class="column">
                  <p>
                      <ul>
                          <li><i class="fa-brands fa-soundcloud"></i>&nbsp;<a href="https://soundcloud.com/lchl" target="_blank">Soundcloud</a></li>
                          <li><i class="fa-brands fa-bandcamp"></i>&nbsp;<a href="https://lchl.bandcamp.com/" target="_blank">Bandcamp</a></li>
                          <!--<li><i class="fa-brands fa-spotify"></i>&nbsp;<a href="" target="_blank">Spotify</a></li>-->
                      </ul>
                  </p>
              </div>

          </div>

          <div class="columns">

              <div class="column">
                  <p class="title-contact title"><img src="/assets/svg/mutant/travel_places/scenes/sunrise_over_mountains.svg" alt="Landscape" class="emoji-32 emoji-bottom"> {{ trans(key="view_photos", lang=lang) | safe }}</p>
                  <p class="subtitle-contact subtitle">{{ trans(key="photos_description", lang=lang) | safe }}</p>
              </div>

              <div class="column">
                  <p>
                      <ul>
                          <li><i class="fa-brands fa-instagram"></i>&nbsp;<a href="https://instagram.com/lunanarch" target="_blank">Instagram</a></li>
                          <!--<li><i class="fa-brands fa-flickr"></i>&nbsp;<a href="" target="_blank">Flickr</a></li>
                          <li><i class="fa-brands fa-500px"></i>&nbsp;<a href="" target="_blank">500px</a></li>-->
                          <li><i class="fa-solid fa-image"></i>&nbsp;<a href="https://pixelfed.fr/@luna" target="_blank">Pixelfed</a></li>
                      </ul>
                  </p>
              </div>

          </div>

          <div class="columns">

              <div class="column">
                  <p class="title-contact  title"><img src="/assets/svg/mutant/objects/office_stationery/paperclip.svg" alt="Paperclip" class="emoji-32 emoji-bottom"> {{ trans(key="other", lang=lang) | safe }}</p>
                  <p class="subtitle-contact subtitle">{{ trans(key="other_links_description", lang=lang) | safe }}</p>
              </div>

              <div class="column">
                  <p>
                      <ul>
                          <li><i class="fa-brands fa-github"></i>&nbsp;<a href="https://github.com/lunanarch" target="_blank">Github</a></li>
                      </ul>
                  </p>
              </div>

          </div>

      </div>
  </section>

  <div class="websitefooter">
      <center>
          <small>
              ©&nbsp;{{ now() | date(format="%Y") }} {{ config.extra.author | safe }}.<br>
              {{ trans(key="developed_with", lang=lang) | safe }} <img src="/assets/svg/mutant/symbols/hearts/red_heart.svg" alt="Red Heart" class="emoji-16 emoji-bottom">
              {{ trans(key="by", lang=lang) | safe }} <a href="{{ config.extra.social.author_link | safe }}" class="deco">{{ config.extra.author | safe }}</a>.
              <a href="https://github.com/lunanarch/Luna-Site" target="_blank" class="deco">{{ trans(key="source", lang=lang) | safe }}</a>.<br>
              {{ trans(key="hosted_by", lang=lang) | safe }} <a href="https://inakaz.fr/" class="deco">Inakaz</a>.
              <br>
          </small>
      </center>
  </div>
</footer>
{%- endmacro footer -%}
