        /* Color schemes */

        @import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

        :root {
            --bg: linear-gradient(70deg, #232344, #33294b);
            --fg: hsl(10, 25%, 97%);
            --link: #db8fff;
            --secondcolor: #db8fff;
            --secondcolor_transparent: #dc8fff93;
            --text_color: white;
            --firstcolor: #232344;
            --rainbow: linear-gradient(70deg, #FE18D3, #FEFF38, #4206F1);
            --shadow: hsla(300, 35%, 65%, 30%);
        }


        body {
            background: var(--bg);
            /* background: url('../images/background.png'); */
            background-color: var(--bg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            color: var(--fg);
            quotes: "« "" »""“""”";
            font-size: 125%;
            font-size-adjust: 0.49;
            line-height: 1.5;
        }


        .button.donate{
            background-color: #f6c915;
        }

        html {
            font-family: "Atkinson Hyperlegible", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Cantarell, Lato,
              Helvetica, Arial, sans-serif;
            height: 100%;
          }
      

        h1 {
            font-weight: 600;
        }

        strong{
            color: white;
        }
        /* Links */

        a.deco {
            color: inherit;
            position: relative;
            text-decoration: none;
            text-shadow: 1px 1px var(--bg);
            z-index: 1;
            border-bottom-style: solid;
            border-color: var(--secondcolor)
        }

        a.deco::before {
            background: var(--secondcolor);
            border-radius: 5px;
            content: "";
            height: 0.4em;
            position: absolute;
            bottom: -1px;
            left: 0;
            right: 0;
            transform: rotateZ(-1deg);
            transition: transform 0.2s;
            z-index: -1;
        }

        a.deco:hover::before,
        a.deco:focus::before {
            transform: rotateZ(-2deg) scaleY(2) translateY(-0.2em);
        }


        .flag {
            width: 1.5em;
            border-radius: 4px;
        }

        svg text {
            -ms-user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            -webkit-touch-callout: none;
            -khtml-user-select: none;
            user-select: none;
        }



        small {
            font-size: 0.75em;
            line-height: 2;
            color: var(--text_color);
        }


        img.pp {
            /* width: 200;
      height: 200; */
            border-radius: 50%;
            border-radius: 50%;
            border-color: #db8fff;
            border-style:dashed;
            width: 11em;
            transition: .5s;
            padding: 7px;
            margin: 10px;
        }

        .flag {
            width: 1.5em;
            border-radius: 4px;
        }

        a.button{
            width: 95%;
            margin: 5px;
        }

        .title{
            color: white;
        }

        .subtitle{
            color: #db8fff;
        }

    /* Box */

    .box{
        background-color: var(--firstcolor); 
        padding: 20px; 
        border-radius: 20px; 
        border-color: var(--secondcolor); 
        border-style: solid;
      }
  
    /* Home */


    a.arrow-home{
        position: relative;
        bottom: 40px;
        transition: .5s;
    }

    a.arrow-home:hover{
        position: relative;
        bottom: 50px;
        transition: .5s;
    }

    div.home{
        position: relative;
        bottom: 3.25rem;
    }

    div.social{
        padding: 5px;
        color: white;
        font-size: 25px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    div.social a:hover{
        color: rgb(117, 216, 255);
        transition: .2s;
    }

    .hero.is-fullheight {
        min-height: 93vh;
    }

    .navbar{
        background: rgba(97, 97, 97, 0) !important;
    }

@media (max-width : 850px) {
    .d-flex {
        display: block;
      }
}