{% extends "base.html" %}


{%- block title -%}
  {{ config.title | safe }} - 404
{%- endblock title -%}


{%- block head -%}
  <meta name="robots" content="noindex">
{%- endblock head -%}


{%- block sidebar -%}
  {{ sidebar::sidebar(type = "section") }}
{%- endblock sidebar -%}


{%- block header -%}
  {{ header::header(page = "null", type = "section") }}
{%- endblock header -%}


{%- block content -%}
<center>
  <section class="hero is-fullheight">
    <div class="hero-body">
        <h1>404</p>

          <p>{{ trans(key="404_message") | safe }}</p>
</div>
</section>
</center>
{%- endblock content -%}
