{% extends "base.html" %}
{% import "macros/utilities/images.html" as images %}
{% import "macros/utilities/menus.html" as menus %}


{%- block title -%}{{ config.title | safe }}{%- endblock title -%}


{%- block head -%}
  {{ head::head(page = section) }}

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"> 
  <link rel="stylesheet" href="assets/css/home.css"> 
{%- endblock head -%}


{%- block content -%}

<!-- Nav-->

<nav class="navbar is-dark is-fixed-top">
  <div class="navbar-brand">
    <div class="navbar-burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
      🏠&nbsp;Home
      </a>
 <a class="navbar-item" href="/blog">
      <img src="/assets/svg/mutant/objects/office_stationery/pencil.svg" alt="Pencil" class="emoji-24">&nbsp;Blog
      </a>
      <a class="navbar-item" href="/projects">
      <img src="/assets/svg/mutant/objects/office_stationery/package.svg" alt="Package" class="emoji-24">&nbsp;Projects
      </a>
      <!-- <a class="navbar-item" href="/musics">
      <img src="/assets/svg/mutant/symbols/textual/music_note.svg" alt="Music Notes" class="emoji-24">&nbsp;Musics
      </a>
      <a class="navbar-item" href="/photos">
      <img src="/assets/svg/mutant/nature_effects/weather/rainbow.svg" alt="Rainbow" class="emoji-24">&nbsp;Photos
      </a> -->
      <a class="navbar-item" href="/about">
      <img src="/assets/svg/mutant/objects/office_stationery/page.svg" alt="Page" class="emoji-24">&nbsp;About
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="button is-link" href="#contact">
              <span class="icon">
              <img src="/assets/svg/mutant/objects/office_stationery/email.svg" alt="Email Emoji" class="emoji-16">
              </span>
              <span>
                Contact
              </span>
            </a>
          </p>
          <p class="control">
          <a class="button donate" href="https://liberapay.com/Luna-Narchy/donate"><img alt="Donate using Liberapay" src="https://liberapay.com/assets/widgets/donate.svg"></a>

          </p>

          {{ search::search_btn() }}

        </div>
      </div>
    </div>
  </div>
</nav>

<script src="/assets/js/bulma/nav.js"></script>

<!-- Content-->

<body>

  <section class="hero is-fullheight has-navbar-fixed-top">

  <!-- Hero content: will be in the middle -->

  <div class="hero-body home" id="home">
    <div class="container">


      <div class="columns">
        <div class="column">
        <center>

        <img class="pp" src="{{ get_url(path = config.extra.avatar) | safe }}" width="220" height="220" alt="It's me." />


        <h1 class="title">Luna</h1>
        <h1 class="subtitle"><i class="fa-solid fa-camera"></i> Photographer • <i class="fa-solid fa-music"></i> Music Artist • <i class="fa-solid fa-code"></i> Developer • <i class="fa-solid fa-hand-back-fist"></i> Activist</h1>
        
        <div class="social">{{ menus::social_links() }}</div>

        <br>
        <span>
                <img src="./assets/svg/mutant/gsr/gsd/flags/rainbow_flag.svg" alt="LGBT+ Community Flag" class="emoji-32 emoji-bottom">
                <img src="./assets/svg/openmoji/anarqueer.svg" alt="Anarqueer Flag" class="emoji-32 emoji-bottom">        
                <img src="./assets/svg/mutant/symbols/custom/neurodiversity.svg" alt="Neurodiversity Symbol" class="emoji-32 emoji-bottom">                
                <img src="./assets/svg/solarpunk.svg" alt="Solarpunk Flag" class="emoji-32 emoji-bottom">             
        </span>
            <br>
            <img src="https://img.shields.io/liberapay/receives/Luna-Narchy.svg?logo=liberapay">
                <img src="https://img.shields.io/liberapay/goal/Luna-Narchy.svg?logo=liberapay">
      </div>
        
        </center>

      <!-- Bio -->

        <div class="column">

        <h1 class="title">Hi <img src="./assets/svg/mutant/expressions/hands/hmn/wave_hmn_y2.svg" alt="Waving Hand" class="emoji-32 emoji-bottom">!</h1>

        <p>
        I'm Luna. I use the pronouns <img src="./assets/svg/mutant/gsr/gsd/flags/demigirl_flag.svg" alt="Demigirl Pride Flag" class="emoji-24 emoji-bottom"> <a href="https://fr.pronouns.page/@odixiz" target="_bank" class="deco">she/they</a>. I live in <img src="./assets/svg/openmoji/1F3F4-E0066-E0072-E0062-E0072-E0065-E007F.svg" alt="Bretagne Flag" class="emoji-24 emoji-bottom"> Bretagne and I study at
          <img src="images/lxp.jpg" class="emoji-24 emoji-bottom" alt="LXP Logo"></img> Lycée Expérimental de Saint-Nazaire. I am a <img src="./assets/svg/mutant/symbols/custom/neurodiversity.svg" alt="Neurodiversity Symbol" class="emoji-24 emoji-bottom"> <strong>neurodivergent</strong> person; please use <strong><a href="/blog/ti" class="deco">tone indicators</a></strong> when communicating with me.
      </p>

        </br>

          <div class="columns">

          <!-- Interests -->
          
            <div class="column">

            <h1 class="title"><img src="./assets/svg/mutant/nature_effects/effects/sparkles.svg" alt="Sparkles" class="emoji-32 emoji-bottom"> Interests</h1>

            <p>I am interested in <strong><img class="emoji-24 emoji-bottom" src="./assets/svg/mutant/objects/art/artist_palette.svg" alt="Art Palette"> arts</strong>, 
        <strong><img src="./assets/svg/mutant/objects/science_medicine/microscope.svg" alt="Microscope" class="emoji-24 emoji-bottom"> sciences</strong>, 
        as well as <strong><img src="./assets/svg/mutant/objects/tech/laptop.svg" alt="Laptop" class="emoji-24 emoji-bottom"> computer science</strong>. I do <img src="./assets/svg/mutant/objects/tech/camera_with_flash.svg" alt="Camera" class="emoji-24 emoji-bottom"> <strong>photography</strong>, <img src="./assets/svg/mutant/symbols/textual/music_notes.svg" alt="Music Notes" class="emoji-24 emoji-bottom"> <strong>music</strong>, as well as <img src="./assets/svg/mutant/activities_clothing/roles/technologist_y3.svg" alt="Dev" class="emoji-24 emoji-bottom"> <strong>development</strong> and <img src="./assets/svg/mutant/objects/tech/keyboard.svg" alt="Keyboard" class="emoji-24 emoji-bottom"> <strong>server management</strong>.</p>

            </div>

          <!-- Values / Activism -->

            <div class="column">

            <h1 class="title"><img src="./assets/svg/mutant/expressions/hands/hmn/raised_hands_hmn_y2.svg" class="emoji-32 emoji-bottom"> Values</h1>

            <p>I stand for <img src="./assets/svg/mutant/gsr/gsd/flags/rainbow_flag.svg" alt="LGBT+ Community Flag" class="emoji-24 emoji-bottom"> <strong>Mogai/LGBT+ rights</strong>, <img src="./assets/svg/openmoji/1F3F4-FE0F-200D-1F170-FE0F.svg" alt="Anarchist Flag" class="emoji-24 emoji-bottom"> <strong>equality and freedom</strong> for all, 
            <img src="./assets/svg/mutant/symbols/signs/wheelchair.svg" alt="Wheelchair" class="emoji-24 emoji-bottom"> <strong>anti-classism</strong>, <strong>anti-ableism</strong>, as well as <strong><img

 src="./assets/svg/mutant/objects/tech/computer.svg" alt="Computer" class="emoji-24 emoji-bottom"> free software and <img src="./assets/svg/mutant/symbols/misc/globe.svg" alt="Globe" class="emoji-24 emoji-bottom"> the open internet</strong>.</p>
          </div>

          </div>
        </div>
      </div>

</div>
</div>

<!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
    <center>
      <a class="arrow-home" href="#contact"><img src="./assets/svg/mutant/symbols/arrows/arrow_down.svg" alt="Down Arrow" class="emoji-48"></a>
    </center>
  </div>
</section>

</body>
  
{%- endblock content -%}


<!-- <main class="container">
  <div class="row justify-content-center mt-5 mb-3">
    <div class="col-auto">
      <div class="index-avatar border border-3 rounded-circle">
        {{ images::get_avatar() }}
      </div>
    </div>
  </div>
  <div class="row justify-content-center mb-5">
    <div class="col-11 col-sm-8 col-md-7 col-xl-6 text-center">  
      <div class="mb-1">
          <a
            href="{{ config.extra.social.author_link | safe }}"
            target="_blank"
            rel="noopener noreferrer"
            class="text-decoration-none"
          >
              <h1 class="fs-3">{{ config.title | safe }}</h1>
          </a>
      </div>
      <div class="fs-6 fw-light mb-2">
          {{ config.description | safe }}
      </div>
      <div class="row justify-content-center fs-4">
        {{ menus::social_links() }}
      </div>
    </div>
  </div>
  <div class="row justify-content-center mb-5">
    <div class="col-11 col-lg-10 col-xxl-9">
      {{ section.content | safe }}
    </div>
  </div>
</main>-->