{% extends "base.html" %}
{% import "macros/utilities/images.html" as images %}
{% import "macros/utilities/menus.html" as menus %}


{%- block title -%}{{ config.title | safe }}{%- endblock title -%}


{%- block head -%}
  {{ head::head(page = section) }}

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"> 
  <link rel="stylesheet" href="assets/css/home.css"> 
{%- endblock head -%}


{%- block sidebar -%}
  {{ sidebar::sidebar(type = "section") }}
{%- endblock sidebar -%}


{%- block header -%}
  {{ header::header(page = section, type = "section") }}
{%- endblock header -%}


{%- block content -%}

<body>

  <section class="hero is-fullheight has-navbar-fixed-top">

  <!-- Hero content: will be in the middle -->

  <div class="hero-body home" id="home">
    <div class="container">


      <div class="columns">
        <div class="column">
        <center>

        <img class="pp" src="{{ get_url(path = config.extra.avatar) | safe }}" width="220" height="220" alt="C'est moi." />


        <h1 class="title">Luna</h1>
        <h1 class="subtitle"><i class="fa-solid fa-camera"></i> Photographe • <i class="fa-solid fa-music"></i> Artiste musicale • <i class="fa-solid fa-code"></i> Dev • <i class="fa-solid fa-hand-back-fist"></i> Militante</h1>
        
        <div class="social">{{ menus::social_links() }}</div>

        <br>
        <span>
                <img src="./assets/svg/mutant/gsr/gsd/flags/rainbow_flag.svg" alt="Drapeau de la communauté Mogai/LGBT+" class="emoji-32 emoji-bottom">
                <img src="./assets/svg/openmoji/anarqueer.svg" alt="Drapeau anarchiste queer" class="emoji-32 emoji-bottom">        
                <img src="./assets/svg/mutant/symbols/custom/neurodiversity.svg" alt="Symbole de la neurodiversité" class="emoji-32 emoji-bottom">                
                <img src="./assets/svg/solarpunk.svg" alt="Drapeau solarpunk" class="emoji-32 emoji-bottom">             
        </span>
            <br>
            <img src="https://img.shields.io/liberapay/receives/Luna-Narchy.svg?logo=liberapay">
                <img src="https://img.shields.io/liberapay/goal/Luna-Narchy.svg?logo=liberapay">
      </div>
        
        </center>

      <!-- Bio -->

        <div class="column">

        <h1 class="title">Salut <img src="./assets/svg/mutant/expressions/hands/hmn/wave_hmn_y2.svg" alt="Main faisant un signe de salutation" class="emoji-32 emoji-bottom"> !</h1>

        <p>
        Moi, c'est Luna. J'utilise les pronoms <img src="./assets/svg/mutant/gsr/gsd/flags/demigirl_flag.svg" alt="Drapeau de la fierté demigirl" class="emoji-24 emoji-bottom"> <a href="https://fr.pronouns.page/@odixiz" target="_bank" class="deco"> elle et iel</a>. Je vis en <img src="./assets/svg/openmoji/1F3F4-E0066-E0072-E0062-E0072-E0065-E007F.svg" alt="Drapeau de la Bretagne" class="emoji-24 emoji-bottom"> Bretagne et j'étudie au
          <img src="images/lxp.jpg" class="emoji-24 emoji-bottom" alt="Logo du LXP"></img> Lycée Expérimental de Saint-Nazaire. Je suis une personne <img src="./assets/svg/mutant/symbols/custom/neurodiversity.svg" alt="Symbole de la neurodiversité" class="emoji-24 emoji-bottom"> <strong>neurodivergente</strong> ; merci d'utiliser des <strong><a href="/blog/ti" class="deco">indicateurs de ton</a></strong> lorsque tu communique avec moi.
      </p>

        </br>

          <div class="columns">

          <!-- Intérêts -->
          
            <div class="column">

            <h1 class="title"><img src="./assets/svg/mutant/nature_effects/effects/sparkles.svg" alt="Sparkles" class="emoji-32 emoji-bottom"> Centres d'intérêt</h1>

            <p>Je m'intéresse aux <strong><img class="emoji-24 emoji-bottom" src="./assets/svg/mutant/objects/art/artist_palette.svg" alt="Palette de peinture"> arts</strong>, 
        <strong>aux <img src="./assets/svg/mutant/objects/science_medicine/microscope.svg" alt="Microscope" class="emoji-24 emoji-bottom"> sciences</strong>, 
        ainsi que <strong><img src="./assets/svg/mutant/objects/tech/laptop.svg" alt="Ordinateur portable" class="emoji-24 emoji-bottom"> l'informatique</strong>. Je fais de la <img src="./assets/svg/mutant/objects/tech/camera_with_flash.svg" alt="Camera" class="emoji-24 emoji-bottom"> <strong>photo</strong>, de la <img src="./assets/svg/mutant/symbols/textual/music_notes.svg" alt="Notes de musique" class="emoji-24 emoji-bottom"> <strong>musique</strong>, ainsi que du <img src="./assets/svg/mutant/activities_clothing/roles/technologist_y3.svg" alt="Dev" class="emoji-24 emoji-bottom"> <strong>dev</strong> et de la <img src="./assets/svg/mutant/objects/tech/keyboard.svg" alt="Clavier" class="emoji-24 emoji-bottom"> <strong>gestion de serveurs</strong>.</p>

            </div>

          <!-- Valeurs / Militantisme -->

            <div class="column">

            <h1 class="title"><img src="./assets/svg/mutant/expressions/hands/hmn/raised_hands_hmn_y2.svg" class="emoji-32 emoji-bottom"> Valeurs</h1>

            <p>Je défend les droits <img src="./assets/svg/mutant/gsr/gsd/flags/rainbow_flag.svg" alt="Drapeau de la communauté Mogai/LGBT+" class="emoji-24 emoji-bottom"> <strong>Mogai/LGBT+</strong>, <img src="./assets/svg/openmoji/1F3F4-FE0F-200D-1F170-FE0F.svg" alt="Drapeau anarchiste" class="emoji-24 emoji-bottom"> <strong>l'égalité et la liberté</strong> de tou·te·s, 
            <img src="./assets/svg/mutant/symbols/signs/wheelchair.svg" alt="Chaise roulante" class="emoji-24 emoji-bottom"> <strong>l'anticlassime</strong>, <strong>l'antivalidisme</strong>, ainsi que <strong>les <img src="./assets/svg/mutant/objects/tech/computer.svg" alt="Ordinateur" class="emoji-24 emoji-bottom"> logiciels et <img src="./assets/svg/mutant/symbols/misc/globe.svg" alt="Globe" class="emoji-24 emoji-bottom"> l'internet libre</strong>.</p>
          </div>

          </div>
        </div>
      </div>

</div>
</div>

<!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
    <center>
      <a class="arrow-home" href="#contact"><img src="./assets/svg/mutant/symbols/arrows/arrow_down.svg" alt="Flèche pointant vers le bas" class="emoji-48"></a>
    </center>
  </div>
</section>

</body>
  
{%- endblock content -%}


<!-- <main class="container">
  <div class="row justify-content-center mt-5 mb-3">
    <div class="col-auto">
      <div class="index-avatar border border-3 rounded-circle">
        {{ images::get_avatar() }}
      </div>
    </div>
  </div>
  <div class="row justify-content-center mb-5">
    <div class="col-11 col-sm-8 col-md-7 col-xl-6 text-center">  
      <div class="mb-1">
          <a
            href="{{ config.extra.social.author_link | safe }}"
            target="_blank"
            rel="noopener noreferrer"
            class="text-decoration-none"
          >
              <h1 class="fs-3">{{ config.title | safe }}</h1>
          </a>
      </div>
      <div class="fs-6 fw-light mb-2">
          {{ config.description | safe }}
      </div>
      <div class="row justify-content-center fs-4">
        {{ menus::social_links() }}
      </div>
    </div>
  </div>
  <div class="row justify-content-center mb-5">
    <div class="col-11 col-lg-10 col-xxl-9">
      {{ section.content | safe }}
    </div>
  </div>
</main>-->